header{
    height: 60px;
    color: black;
}

.jumbotrone{
    height: 560px;
}

.footer a{

}

.sf-bg-white{
    background-color: white;
}

.sf-bg-black{
    background-color: black;
}

.sf-bg-grey{
    background-color: grey;
}

.sf-color-white{
    color: white;
}

.sf-list-logo{
    border: solid grey 1px;
    border-radius: 5px;
    padding: 4px;
    width: 40px;
    text-align: center;
}   

.sf-pt-15{
    padding-top: 15px;
}

.sf-mt-60{
    margin-top: 60px;
}

